@import "../../scss/breakpoints";
@import "../../scss/widths";
.dv-Database {
  height: 100%;
  overflow: hidden;
  background-color: #fafafa;
  position: relative;
  h3 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0;
  }
  @include breakpoint(large) {}
}

.dv-Database__info {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0.5rem 0 0.5rem;
  h3 {
    font-family: Circular;
    font-size: 18px;
    letter-spacing: 0;
    padding: 0;
  }
  p {
    font-family: Circular;
    font-size: 14px;
    line-height: 1.5; // max-width: $mw6;
    // margin-left: auto;
    // margin-right: auto;
  }
}

.dv-Database__container {
  // display: flex;
  // flex-direction: column;
  max-width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0.5rem;
  @include breakpoint(large) {
    // flex-direction: row;
  }
}

.dv-Database__filters {
  padding: 0 2rem 0 0;
  h3 {
    padding-bottom: 1rem;
    margin: 0;
    font-size: 16px;
  }
}

.dv-Database__cards {
  max-height: 45rem;
  padding: 2rem 0;
  overflow-y: scroll;
  align-self: center;
  position: relative;
  @include breakpoint(large) {
    padding: 0 0 0 2rem;
  }
}

.dv-Database__filter-label {
  font-style: italic;
  margin-top: 1rem;
  font-size: 14px;
}